services:
  code-server-docker:
    #image: lscr.io/linuxserver/code-server:latest
    build: 
       context: .
       dockerfile: Dockerfile_docker


    privileged: true

    container_name: code-server-docker
    user: root
    environment:
      - PUID=1001
      - PGID=1001
      - TZ=Etc/UTC
      - PASSWORD=password #optional
      - SUDO_PASSWORD=password #optional
      - DEFAULT_WORKSPACE=/config/workspace #optional


    entrypoint:
        - /bin/bash 
        - -c 
        - |
          id
          ulimit -n 165536 #set the ulimit, is this necessary?
          service docker restart
          service docker status
          docker info # ncessary, so to create /var/run/docker.sock
          ls -la /var/run/
          chmod a+r /var/run/docker.sock
          chown abc:docker -R /config/.docker
          chmod -R g+rw /config/.docker
          echo 'Calling the services..........'

          usermod -p $(openssl passwd -1 password2) abc
	  #this is necessary since we need the sudo permission for the user.

          #usermod -aG sudo abc

          #su abc -s /bin/bash -c "/app/code-server/bin/code-server --bind-addr 0.0.0.0:8443" 
          sudo -u abc /app/code-server/bin/code-server --bind-addr 0.0.0.0:8443 --auth none
          # no authentication, if we want authentication, we need to specify here (check manual
          # for how). note: since we do entrypoint and call everything here, the previous
          #section doesn't work for setting password and change file permission(?)
          #bash

    volumes:
      #be really careful, we need to comment out the second line for mapping renv when we first run this!!
      # the first time, we acctually set up everything
      #once we done with setting up, we need to uncomment it and let the container side renv to take effects
      # (copying over the host side renv)
      #
      - .:/config
      #- vscode_vol:/config/workspace/renv
      - vscode_vol_uv:/config/.local/bin
      #- vscode_vol_venv:/config/workspace/.venv
    ports:
      - 8443:8443
    restart: unless-stopped 

    tty: true
    stdin_open: true
volumes:
  vscode_vol:
  
  vscode_vol_uv:

  #vscode_vol_venv: 
  
