services:
  code-server-python:
    #image: lscr.io/linuxserver/code-server:latest
    build: 
       context: .
       dockerfile: Dockerfile_python

    container_name: code-server-python
    environment:
      - PUID=1001
      - PGID=1001
      - TZ=Etc/UTC
      - PASSWORD=password #optional
      - SUDO_PASSWORD=password #optional
      - DEFAULT_WORKSPACE=/config/workspace #optional
    volumes:
      #be really careful, we need to comment out the second line for mapping renv when we first run this!!
      # the first time, we acctually set up everything
      #once we done with setting up, we need to uncomment it and let the container side renv to take effects
      # (copying over the host side renv)
      #
      - .:/config
      #- vscode_vol:/config/workspace/renv
      - vscode_vol_uv:/config/.local/bin
      #- vscode_vol_venv:/config/workspace/.venv
    ports:
      - 8443:8443
    restart: unless-stopped 
  
volumes:
  #vscode_vol:
  
  vscode_vol_uv:

  #vscode_vol_venv: 
  
