services:
  rkeras:
    build: 
      context: .
      dockerfile: Dockerfile.workingRcmd_TF
    container_name: keras_cudaRcmd_tf
    #working_dir: /home/rstudio/keras_r
    #command: /bin/bash
    #environment:
    #    PASSWORD: rstudio
    #    USERID: 1000
    
    #need to provide a .env file to set USE, GI and DIR_TO_CHANGE
    #
    entrypoint:
        - /bin/bash 
        - -c 
        - |
          echo 'adding user.....'
         
          if [ ! $(getent group ${USER_dock}) ]; then
             echo "adding group now........"
             addgroup --gid ${GID} ${USER_dock}
          fi
          
          if [ ! $(getent passwd ${USER_dock}) ]; then
             echo "adding users........."
             adduser --uid ${UID} --gid ${GID} --gecos '' --disabled-password ${USER_dock}
          else
             echo "modifying........"
             usermod -u ${UID}:{GID} ${USER_dock}
          fi
          echo 'change the owner ship of necessary files' 
          chown -R ${UID}:${GID} ${DIR_TO_CHANGE}
          echo 'Calling the services..........'
          pwd
          bash
          #su - ${USER} R
          #echo 'DONE'
    
    volumes:
      - ./:/home/rstudio/keras_r
      
    #ports:
    #  - 127.0.0.1:8787:8787
      
    stdin_open: true 
    tty: true
    
    deploy:
     resources:
       reservations:
         devices:
           - driver: nvidia
             count: 1
             capabilities: [gpu]

volumes:
    tf2:    
      
