# Failed, because it seems that the mapping of drive is before
# running the start script to add the user and modify the
# home directory. therefore we can not map to the new user
# directory. So we have to make the changes of user at the build
# time. But if we do, we will not be able to make incremental 
# changes, (since now it changes to the new user, somehow the code 
#   still need to link to original user directory after
#  we move to the new user directory. Bummer.
#
services:
  jupyter_renv:
    build: .
    #environment:
    #    - user= feng
    #    - uid= 1000
    #    - gid= 1000
    #command: bash
    
    #set the new user id 1005, so that the rstudio /init script 
    #will change everyting in the user home directory
    #so means we need to put our project directory in the user home directory
    #here would also set up the .env to have USER id read it
    # USERID: ${UID}
    #.env
    # UID=1005 
    #
    environment:
       NB_USER: "feng"
       NB_UID: 1000
       CHOWN_HOME: yes
       CHOWN_HOME_OPTS: '-R'
       
    user : root   
    ports:
       - 8888:8888
    #entrypoint
    entrypoint:
      - bash
      - -c
      - |
        usermod -l feng jovyan 
        usermod -d /home/feng -m feng 
        echo "done username" 
        usermod -u 1000 feng 
        gosu feng jupyter-lab --ip 0.0.0.0 --port 8888 --no-browser --allow-root   
    #working_dir: /home/jovyan
    volumes:
      - .:/home/feng/jupyter_renv
      - vol_jupyter_renv_jp:/home/feng/jupyter_renv/renv
    stdin_open: true 
    tty: true

volumes:
    #vol_test4:
    vol_jupyter_renv_jp:
