
services:
  jupyter_renv:
    build: .
    #environment:
    #    - user= feng
    #    - uid= 1000
    #    - gid= 1000
    #command: bash
    
    #set the new user id 1005, so that the rstudio /init script 
    #will change everyting in the user home directory
    #so means we need to put our project directory in the user home directory
    #here would also set up the .env to have USER id read it
    # USERID: ${UID}
    #.env
    # UID=1005 
    #
    environment:
       #NB_USER: "feng"
       NB_UID: 1000
       CHOWN_HOME: yes
       CHOWN_HOME_OPT: '-R'
       
    user : root   
    ports:
       - 8888:8888
       
    #working_dir: /home/jovyan
    volumes:
      - .:/home/jovyan/jupyter_renv
      - vol_jupyter_renv:/home/jovyan/jupyter_renv/renv
    stdin_open: true 
    tty: true

volumes:
    #vol_test4:
    vol_jupyter_renv:
